process {
    container = 'jd21/methylflow-main@sha256:fb1053ea02fa6d98db3d1a17a692a1971c75f5c184b09f75024c7acfba40c6a5' // v1.1.1
    withName: FASTQC { container = 'jd21/methylflow-main@sha256:fb1053ea02fa6d98db3d1a17a692a1971c75f5c184b09f75024c7acfba40c6a5' }
    withName: MULTIQC { container = 'quay.io/biocontainers/multiqc@sha256:dfd9fde2c48b896b884e79a71ddc16c72c97a0ee5c5c8e45aaba50f55d07d263' }
    withName: TRIM_GALORE { container = 'jd21/methylflow-main@sha256:fb1053ea02fa6d98db3d1a17a692a1971c75f5c184b09f75024c7acfba40c6a5' }
    withName: BISMARK_GENOME_PREPARATION { container = 'jd21/methylflow-main@sha256:fb1053ea02fa6d98db3d1a17a692a1971c75f5c184b09f75024c7acfba40c6a5' }
    withName: BISMARK_ALIGN { container = 'jd21/methylflow-main@sha256:fb1053ea02fa6d98db3d1a17a692a1971c75f5c184b09f75024c7acfba40c6a5' }
    withName: BISMARK_DEDUPLICATE { container = 'jd21/methylflow-main@sha256:fb1053ea02fa6d98db3d1a17a692a1971c75f5c184b09f75024c7acfba40c6a5' }
    withName: BISMARK_METHYLATION_EXTRACTOR { container = 'jd21/methylflow-main@sha256:fb1053ea02fa6d98db3d1a17a692a1971c75f5c184b09f75024c7acfba40c6a5' }
    withName: BISMARK_REPORT { container = 'jd21/methylflow-main@sha256:fb1053ea02fa6d98db3d1a17a692a1971c75f5c184b09f75024c7acfba40c6a5' }
    withName: SAMTOOLS_SORT { container = 'jd21/methylflow-main@sha256:fb1053ea02fa6d98db3d1a17a692a1971c75f5c184b09f75024c7acfba40c6a5' }
    withName: SAMTOOLS_INDEX { container = 'jd21/methylflow-main@sha256:fb1053ea02fa6d98db3d1a17a692a1971c75f5c184b09f75024c7acfba40c6a5' }
    withName: SAMTOOLS_MERGE { container = 'jd21/methylflow-main@sha256:fb1053ea02fa6d98db3d1a17a692a1971c75f5c184b09f75024c7acfba40c6a5' }
    withName: QUALIMAP { container = 'pegi3s/qualimap@sha256:2b0220e503855d210d4caf8af5e10f1feccd50db57377ec38e2a6be43f3c2a3f' }
    withName: '.*EDGER_ANALYSIS.*' { container = 'jd21/methylflow-main@sha256:fb1053ea02fa6d98db3d1a17a692a1971c75f5c184b09f75024c7acfba40c6a5' }
    withName: '.*METHYLKIT_ANALYSIS.*' { container = 'jd21/methylflow-main@sha256:fb1053ea02fa6d98db3d1a17a692a1971c75f5c184b09f75024c7acfba40c6a5' }
    withName: '.*DSS_ANALYSIS.*' { container = 'quay.io/biocontainers/bioconductor-dss@sha256:57f525544c24abb988bd426706e0e7a6e9e4d10ff3a64f595d7c2ef1c7da5b7d' }
    withName: 'GO_ENRICHMENT|KEGG_ENRICHMENT|DISEASE_ENRICHMENT|CLINICAL_ANNOTATION|PCA_PLOT' { container = 'jd21/methylflow-enrich@sha256:5b4f6a391d1e2cbfb73ea55568f7129e5dc0004d222cca8b900159bc4d3d03d3' } // v1.1.0
    withName: 'PATHVIEW_PLOT' { container = 'quay.io/biocontainers/bioconductor-pathview@sha256:4f536b10e8e1e5fb794126d8f149c6717c451efa77eaa979557035bc400ec698' }
    withName: 'DMR_DETAIL_PLOT' { container = 'quay.io/biocontainers/bioconductor-gviz@sha256:03ee230651685b257544acdd6f966123074769c41eec18a8d43afd5e6c62e235' }
    withName: 'REPORT' { container = 'jd21/methylflow-report@sha256:5e6c36454166021b258ef322c09245f0877e2ea16a70c9f8ecc83d138f11eadf' } // v1.1.4
    withName: '.*UNIFIED_LAYER.*' { container = 'jd21/methylflow-unified@sha256:22fa929391b6eb7d72fee9d319eb5437d582b71774c48f0e8e64077d7a54c95d' } // v1.1.3
}

profiles {
    docker {
        docker.enabled = true
        docker.userEmulation = true
        singularity.enabled = false
        podman.enabled = false
        apptainer.enabled = false
        charliecloud.enabled = false
    }
    singularity {
        singularity.enabled = true
        singularity.runOptions = '--nv --no-home -e'
        singularity.autoMounts = true
        docker.enabled = false
        podman.enabled = false
        apptainer.enabled = false
        charliecloud.enabled = false
    }
    conda {
        conda.enabled = true
        docker.enabled = false
        singularity.enabled = false
        podman.enabled = false
        apptainer.enabled = false
        charliecloud.enabled = false
        process.conda = "$baseDir/containers/conda/environment_main.yml"
    }
    podman {
        podman.enabled = true
        docker.enabled = false
        singularity.enabled = false
        apptainer.enabled = false
        charliecloud.enabled = false
    }
    apptainer {
        apptainer.enabled = true
        apptainer.runOptions = '--nv --no-home -e'
        apptainer.autoMounts = true
        docker.enabled = false
        singularity.enabled = false
        podman.enabled = false
        charliecloud.enabled = false
    }
    charliecloud {
        charliecloud.enabled = true
        docker.enabled = false
        singularity.enabled = false
        podman.enabled = false
        apptainer.enabled = false
    }
}
