params {
    aligner = 'bwameth'
    use_parabricks = true
    parabricks_container = 'nvcr.io/nvidia/clara/clara-parabricks:4.3.0-1'
}

process {
    withLabel: 'gpu' {
        container = "${params.parabricks_container}"
        cpus = 16
        memory = '64 GB'
    }
}

docker {
    runOptions = '--gpus all'
}

// singularity {
//     runOptions = '--nv'
// }

// apptainer {
//     runOptions = '--nv'
// }
