params {
    aligner = 'bwameth'
    use_parabricks = true
    parabricks_container = 'nvcr.io/nvidia/clara/clara-parabricks:4.4.0-1'
}

process {
    withLabel: 'gpu' {
        container = "${params.parabricks_container}"
        cpus = 48
        memory = '200 GB'
    }

    withName: '.*(METHYLKIT|EDGER|DSS)_ANALYSIS.*' {
        cpus = 48
        memory = '128 GB'
        containerOptions = '--env R_LIBS_USER="" --env R_LIBS_SITE="" --env R_LIBS=""'
    }
}

docker {
    runOptions = '--gpus all'
}

