// Standard Nextflow Configuration for running nf-core/methylseq
// Run with: nextflow run nf-core/methylseq -c conf/nfcore_methylseq_replicate.config -profile docker

params {
    // Input samplesheet (Must be formatted as sample,fastq_1,fastq_2)
    input = "${projectDir}/data/Sample_sheet_replicate_article_nfcore.csv"
    
    // Output directory
    outdir = "${projectDir}/results_nfcore_replicate"
    
    // Reference genome (Using the same hg19 reference as MethylFlow)
    fasta = "/data/Jyotirmoy/Reference_data/hg19/hg19.fa"
    
    // Core parameters to match MethylFlow benchmarking
    aligner = 'bismark'
    clip_r1 = 0
    clip_r2 = 0
    three_prime_clip_r1 = 0
    three_prime_clip_r2 = 0
    
    // Save storage space
    save_reference = false
    save_align_intermeds = false
    
    // Comprehensive coverage output
    comprehensive = true
    
    // Hardware Limits
    max_cpus   = 16
    max_memory = '64.GB'
    max_time   = '24.h'
}
