params {
    // Input/Output options
    sample_sheet    = null // "$projectDir/Sample_sheet_twist.csv"
    genome_fasta    = null // 
    aligned_bams   = false // starts with bismark-aligned bam files
    bismark_index   = false  // Set to false to generate index, or provide path to existing index
    diff_meth_method = 'edger' // or 'methylkit'
    run_both_methods = false
    design_file     = null
    outdir          = null
    

    // Differential Methylation Analysis options
    compare_str         = "all"
    coverage_threshold  = 3

    // MultiQC options
    multiqc_config      = null
    multiqc_title       = null

    // Max resource options
    max_memory          = '128.GB'
    max_cpus            = 16
    max_time            = '240.h'

    //annotation

    gtf_file = null
    refseq_file = null

    // MethylKit specific parameters
    methylkit {
        assembly = 'hg38' //match with reference genome
        mc_cores = 16
        diff = 0.05
        qvalue = 1
    }
    
    // Post-processing options
    post_processing = true
    logfc_cutoff = 0.5
    pvalue_cutoff = 0.05
    hyper_color = 'red'
    hypo_color = 'blue'
    nonsig_color = 'black'
    top_n_genes = 100

    // Qualimap options
    qualimap_args = ""

    //skip differential methylation analysis
    skip_diff_meth = false
    
    //help
    help = false
}
