profiles {
    clinical {
        params.mode = 'clinical'
        params.run_clinical_report = true
    }

    research {
        params.mode = 'research'
        params.run_clinical_report = false
    }

    clinical_offline {
        params.mode = 'clinical'
        params.run_clinical_report = true
        params.offline = true
        docker.network = 'none'
        singularity.network = 'none'
    }

    twist_minimal_gpu {
        includeConfig './twist_minimal_gpu.config'
    }

    twist_minimal_cpu {
        includeConfig './twist_minimal_cpu.config'
    }

    twist_full_gpu {
        includeConfig './twist_full_gpu.config'
    }

    twist_full_cpu {
        includeConfig './twist_full_cpu.config'
    }

    twist_replicate_article_gpu {
        includeConfig './twist_replicate_article_gpu.config'
    }

    twist_replicate_article_cpu {
        includeConfig './twist_replicate_article_cpu.config'
    }

    twist_replicate_article_A_gpu {
        includeConfig './twist_replicate_article_A_gpu.config'
    }

    twist_replicate_article_A_cpu {
        includeConfig './twist_replicate_article_A_cpu.config'
    }

    twist_replicate_article_B_gpu {
        includeConfig './twist_replicate_article_B_gpu.config'
    }

    twist_replicate_article_B_cpu {
        includeConfig './twist_replicate_article_B_cpu.config'
    }

    test_bisulfite {
        includeConfig './test_bisulfite.config'
    }

    test_bisulfite_cpu {
        includeConfig './test_bisulfite_cpu.config'
    }

    test_bisulfite_gpu {
        includeConfig './test_bisulfite_gpu.config'
    }

    test_emseq {
        includeConfig './test_emseq.config'
    }

    test_emseq_cpu {
        includeConfig './test_emseq_cpu.config'
    }

    test_emseq_gpu {
        includeConfig './test_emseq_gpu.config'
    }

    gpu {
        includeConfig './gpu.config'
    }
}
