params {
    config_profile_name        = 'Human Bisulfite-seq Test profile (GPU)'
    config_profile_description = 'Human WGBS/Bisulfite dataset from PRJNA476128 (Fetahu et al. Sci Adv 2019) (GPU)'

    // Input data
    sample_sheet = "${projectDir}/data/Sample_sheet_human_s3_subset.csv"
    genome_fasta = "${projectDir}/data/test_data/Homo_sapiens.GRCh38.dna.primary_assembly.fa"
    gtf_file     = "${projectDir}/data/test_data/Homo_sapiens.GRCh38.104.gtf"
    refseq_file  = "${projectDir}/data/test_data/hg38_RefSeq.bed.gz"

    // GPU Aligner
    aligner = 'bwameth'
    use_parabricks = true
    pre_stage_test_data = true

    // Standardized Benchmarking Parameters
    mode = 'clinical'
    run_clinical_report = true
    skip_diff_meth = false
    diff_meth_method = 'all'
    compare_str = 'all'
    coverage_threshold = 3
    logfc_cutoff = 1.0
    pvalue_cutoff = 0.01
    top_n_genes = 100

    methylkit {
        assembly = 'hg38'
        mc_cores = 16
        diff = 0.10
        qvalue = 0.01
        min_per_group = 1
     }
     dss {
        p_threshold = 0.01
        diff_threshold = 0.10
     }
    edger {
        p_threshold = 0.01
        logfc_cutoff = 1.0
    }

    // Resources (adjust if needed)
    max_cpus   = 16
    max_memory = '250.GB'
    max_time   = '24.h'
}
