params {
    config_profile_name        = 'Human Bisulfite-seq Test profile'
    config_profile_description = 'True Human WGBS/Bisulfite dataset from PRJNA476128 (Sci Adv 2019)'

    // Input data
    sample_sheet = "${projectDir}/examples/Sample_sheet_human_bisulfite.csv"
    
    // Comparison for DSS/EdgeR
    compare_str = 'Disease_vs_Control'
    skip_diff_meth = false
    diff_meth_method = 'all'

    // Resources (adjust if needed)
    max_cpus   = 16
    max_memory = '64.GB'
    max_time   = '24.h'
}
