params {
    config_profile_name        = 'Human EM-seq Test profile'
    config_profile_description = 'True Human EM-seq dataset (3 vs 3 replicates) from the NEB benchmark study'

    // Input data
    sample_sheet = "${projectDir}/examples/Sample_sheet_human_emseq.csv"
    
    // Comparison for DSS/EdgeR
    compare_str = 'Control_vs_Treated'
    skip_diff_meth = false
    diff_meth_method = 'all'

    // Resources (adjust if needed)
    max_cpus   = 16
    max_memory = '64.GB'
    max_time   = '24.h'
}
