params {
    config_profile_name        = 'Replicate Article profile (GPU)'
    config_profile_description = 'Parameters and sample sheet to replicate results from PMC10835804'

    // Limit resources 
    max_cpus   = 16
    max_memory = '64.GB'
    max_time   = '24.h'

    // Input data
    sample_sheet = "${projectDir}/data/Sample_sheet_replicate_article.csv"
    genome_fasta = "${projectDir}/data/test_data/Homo_sapiens.GRCh37.dna.primary_assembly.fa"
    gtf_file     = "${projectDir}/data/test_data/Homo_sapiens.GRCh37.87.gtf"
    refseq_file  = "${projectDir}/data/test_data/hg19_RefSeq.bed.gz"

    // GPU Aligner
    aligner = 'bwameth'
    use_parabricks = true
    pre_stage_test_data = true

    // Standardized Benchmarking Parameters
    mode = 'clinical'
    run_clinical_report = true
    skip_diff_meth = false
    diff_meth_method = 'all'
    compare_str = 'VD_vs_CS' // Article focus
    coverage_threshold = 3
    logfc_cutoff = 0.25
    pvalue_cutoff = 0.01
    top_n_genes = 100

    methylkit {
        assembly = 'hg19'
        mc_cores = 16
        diff = 0.25
        qvalue = 0.01
        bed_file = "${projectDir}/data/Twist_HMP_target_BED/covered_targets_Twist_Methylome_hg19_annotated_collapsed_uniq_final.bed"
        min_per_group = 3 // Article specific
    }
    dss {
        p_threshold = 0.01
        diff_threshold = 0.25
    }
    edger {
        p_threshold = 0.01
        logfc_cutoff = 0.25
    }
}
