params {
    config_profile_name        = 'Minimal Test profile (GPU)'
    config_profile_description = 'Full clinical test dataset (DMR + Enrichment + Reporting) using local files'

    // Limit resources 
    max_cpus   = 48
    max_memory = '250.GB'
    max_time   = '72.h'

    // Local Input data
    sample_sheet = "${projectDir}/data/Sample_sheet_twist_minimal.csv"
    genome_fasta = "${projectDir}/data/test_data/Homo_sapiens.GRCh38.dna.primary_assembly.fa"
    gtf_file     = "${projectDir}/data/test_data/Homo_sapiens.GRCh38.104.gtf"
    refseq_file  = "${projectDir}/data/test_data/hg38_RefSeq.bed.gz"

    // GPU Aligner
    aligner = 'bwameth'
    use_parabricks = true
    pre_stage_test_data = true

    // Standardized Benchmarking Parameters
    mode = 'clinical'
    run_clinical_report = true
    skip_diff_meth = false
    diff_meth_method = 'all'
    compare_str = 'all'
    coverage_threshold = 3
    logfc_cutoff = 0.25
    pvalue_cutoff = 0.01
    top_n_genes = 100

    methylkit {
        assembly = 'hg38'
        mc_cores = 8
        diff = 0.25
        qvalue = 0.01
        bed_file = "${projectDir}/data/Twist_HMP_target_BED/covered_targets_Twist_Methylome_hg38_annotated_collapsed.bed"
        min_per_group = 3
    }
    dss {
        p_threshold = 0.01
        diff_threshold = 0.25
    }
    edger {
        p_threshold = 0.01
        logfc_cutoff = 0.25
    }
}
